<div class="container" id="mainContent">
    <!-- Should add a search/filter in here -->

		<div class="acronymTable row-striped">

    {{#each mraOutputs.acronyms}}
  		<div><div class="row">
  			<div class="col-sm-3">{{acronym}}</div>
  			<div class="col-sm-9">{{value}}</div>
  		</div>
  		</div>
    {{/each}}


	</div>

  <input type='hidden' id='inputPage' value='acronymPage'>
</div>
