<div class='mra_footer'>
</div>
<script>
  $( document ).ready(function() {
    $('.dropdown-toggle').dropdown();
    $('#docent-style')[0].innerText = decodeURI($('#docent-style')[0].innerText).replace(/&#x3D;/g,'=');
  });
</script>
</div>