<header id="subheader">
  <div class="container">
  <div class="row">
    <div class="col-sm-6">
    <ol class="breadcrumb">
      <li class="active">Saved Assessments</li>
    </ol>
    {{#if mraOutputs.assessment.targetLevel}}<span class="collapse-link visible-xs xs-expand-link" data-toggle="collapse" data-target="#subheader-collapseable" aria-expanded="false" aria-controls="subheader-collapseable"><span class="glyphicon glyphicon-triangle-bottom"></span></span>{{/if}}
    </div>
    <div class="col-sm-6 hidden-xs">

    </div>
  </div>
  </div>
</header>

<div class="container" id="mainContent">

    {{#if mraOutputs.assessmentNames}}
      <h2>Assessments For This Workspace</h2>
      <p class="instruction">Select an assessment to open</p>


		<div class="acronymTable row-striped">

    {{#each mraOutputs.assessmentNames}}
  		<div><div class="row">
  			<div class="col-sm-9"><a href onclick='$("#inAssessmentPath").val("{{this}}");$("#functionToCall").val("getStartPage")' ng-click='run()'>{{this}}</a></div>
  			<div class="col-sm-3"><a href onclick='$("#inAssessmentPath").val("{{this}}");$("#functionToCall").val("deleteAssessment")' ng-click='run()'>DELETE</a></div>
  		</div>
  		</div>
    {{/each}}
    </div>

    {{else}}
    <h2>No Assessments Found For This Project</h2>
    <button style='display:inline;' type='button' class='btn btn-primary' style='margin-bottom:10px' onclick='$("#functionToCall").val("getStartPage")' ng-click='run()'>Start Assessment</button>
    {{/if}}

	</div>

  <input type='hidden' id='inputPage' value='importPage'>
</div>







