body.mra{
  font-family:Roboto,Arial,sans-serif;
  color:#121212;
  height: 100%;
  background-color: #EFECED;
}

div.mra_header{
  font-size: 16px;
  color: #FFFFFF;
  background-color: #607d8b;
  padding: 10px;
}

div.mra_infobar{
  margin-bottom: 20px;
  min-height: 25px;
  color: white;
  padding: 3px 25px 0px 25px;
  background-color: #455a64;
  -webkit-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.75);
}

div.mra_infobar a{
  color: white;
}

div.mra_navigationbar{
  z-index: 1;
  margin: auto;
  background-color: #607d8b;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

div.mra_navigationitem{
  padding-left: 300px;
  display: inline-flex;
  height: 46px;
  line-height: 46px;
  min-width: 70px;
  padding: 0px 10px;
  transition: background .2s;
  color: white;
}

div.mra_dropdown a{
  transition: background .2s;
}

div.mra_navigationtitle{
  margin: auto;
  color: white;
  font-size: 1.4em;
  display: inline-block;
  height: 46px;
  line-height: 46px;
  min-width: 70px;
  padding: 0px 10px;
}

div.mra_assess_level_date{
  color: white;
  display: inline-block;
  height: 46px;
  line-height: 23px;
  min-width: 70px;
  float: right;
}

div.mra_assess_level_date div{
  text-size: .5em;
}

div.mra_navigationitem a{
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: auto;
}

div.mra_navigationitem:hover{
  background: #546e7a;
}

div.mra_dropdowncontent a:hover{
  background: #cfd8dc;
}

div.mra_dropdown{
  display: inline-block;
}

div.mra_dropdowncontent{
  display: none;
  position: absolute;
  background-color: #eceff1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

div.mra_dropdown a{
  display: inline-block;
}

div.mra_dropdowncontent a{
  color: black;
  padding: 3px 6px;
  text-decoration: none;
  display: block;
  text-align: left;
}

div.mra_dropdown:hover .mra_dropdowncontent{
  display: block;
  position: absolute;
  z-index: 1;
}

div.mra_breadcrumbs{
  color: #FFFFFF;
  background-color: #002D54;
  padding: 3px;
  margin: 0px -10px;
}

a.mra_breadcrumbs_active{
  opacity: 0.5;
}

/*New material style*/

div.mra_panel{
  margin-bottom: 30px;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

.mra_max_width_container {
  max-width: 1400px;
  margin: auto;
  padding: 0px 25px;
}

.mra_vertical_align {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

#mra_style button{
  border: none;
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  border-radius: 4px;
}

#mra_style table{
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.16);
  background-color: white;
}

#mra_style th{
  color: black;
  background-color: #eceff1;
  font-weight: bold;
}

#mra_style td{
  background-color: white;
  color: #212121;
  border-top: none;
}

#mra_style #answerValue{
  max-width: 120px;
}

td.t-centered, th.t-centered{
  text-align: center;
  vertical-align: middle;
}

td.dash + td.dash,
th.dash + th.dash {
  border-left: 1px solid #e1e7ea;
  min-width: 41px;
}

tr.dash + tr.dash {
  border-top: 1px solid #e1e7ea;
  min-width: 41px;
}

.mra_divider{
  width: 100%;
  height: 1px;
  background-color: lightgrey;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}


.mra_arrow_down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  display: inline-block;
}

.mra_arrow_right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
  display: inline-block;
}

#mra_style table.mra_divided_table{
  background: #eceff1;
}

#mra_style table.mra_divided_table{
  background: #eceff1;
}

#mra_style table.mra_divided_table td{
  background: #cfd8dc;
  -webkit-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}

#mra_style table.mra_divided_table td.mra_divided_table_top_level{
  background: #eceff1;
  -webkit-box-shadow: 40px 40px 0px 0px rgba(0,0,0,0);
  -moz-box-shadow: 40px 40px 0px 0px rgba(0,0,0,0);
  box-shadow: 40px 40px 0px 0px rgba(0,0,0,0);
}

#mrl_milestone_table{
  margin-top: 50px;
  position: relative;
  z-index: 0;
}

#mra_style .btn-primary{
  background: #546e7a;
}

#mra_style .btn-success{
  background: #546e7a;
}

#mra_style .btn-primary:hover{
  background: #607d8b;
}

#mra_style .btn-success:hover{
  background: #607d8b;
}

#mra_style .mra-btn-circle{
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

/*END New material style*/

.mra-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*CSS for rendering "milestone" tags on criteria page*/
.mrl_ms_level_locator{
  position: absolute;
  left: -21px;
  top: -30px;
}

.mrl_ms_level{
  position: absolute;
  z-index: 100;
}

.mra_arrow_box{
  display: block;
  width: 40px;
  text-align: center;
  font-size: .8em;
	position: relative;
	background: #90a4ae;
  border-radius: 3px;
  padding: 5px 10px;
}

.mra_arrow_box_arrow_down {
  position: absolute;
  left: 10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #90a4ae;
}

div.innerHeader{
  margin: auto;
  width: 950px;
}
div.info{
  position:fixed;
  top: 0;
  right: 0;
  width: 250px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #555555;
  padding: 3px 10px;
}
div.enterdata{
  margin: auto;
  position: relative;
  width: 950px;
  padding: 25px;
  background-color: #FFFFFF;
}

div.question{
  margin: auto;
  position: relative;
  width: 950px;
  padding: 25px;
}

div.questionButtons{
  text-align: center;
  width: 100%;
}

table.criteriaTable{
  display: block;
  overflow: scroll;
}

.centerAligned{
  margin: auto;
  width: 950px;
  text-align: center;
}

.rightAligned {
  float: right;
}

.leftAligned {
  float: left;
}

.topAligned {
  top: 0;
  display:inline-block;
}

.buttonRounded{
  background-color: #505F90;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 3px 10px;
  margin: 5px;
}

.answerDropDown{
  font-size: 16px;
  display: inline-block;
}

.mraTable{
  background-color: #FFFFFF;
  text-align: left;
}

th{
  font-size:14px;
  background-color: #0E5492;
  text-align: left;
  color: #FFFFFF;
  padding: 5px;
}

td{
  padding: 5px;
}

td.blue{
  background-color: #008CBA;
}

td.green{
  background-color: #4CAF50;
}

td.red{
  background-color: #f44336;
}

#blackLinks a:link{
  color: black;
}

#blackLinks a:visited{
  color: black;
}

.glyphicon {
  font-size:20px;
}
